@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

$bluespace: #0B0D17;
$blue: #D0D6F9;
$white: #ffffff;
$nav-color: #25262b;
$grey: grey;

$barlow-cond: 'Barlow Condensed', sans-serif;
$barlow: 'Barlow', sans-serif;
$Bellefair: 'Bellefair', serif;


