
@import 'colorsfont.scss';
@import 'navbar.scss';
@import 'home.scss';
@import 'destination.scss';
@import 'crew.scss';
@import 'technology.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



