.nav {
    background-color: inherit;

    .menu {
        
        top: 0px;
        right: -500px;
        padding: 7em 1em 0 2em;
        transition: all 0.7s;
        z-index: 1;

        &.active {
            right: 0px;
        }

        @media (min-width:640px) and (max-width:1024px) {
            background-color: $nav-color;
            padding: 0 2em;
        }
        @media (min-width:1024px) {
            width: 55vw;
            padding: 0 9em 0 0;
            background: rgba(105, 105, 105, 0.2);

        }

        @media (min-width:1370px) {
          
            &::before {
                position: absolute;
                left: -32vw;
                content: "";
                width: 35vw;
                height: 1px;
                background-color: $blue;
            }

        }
        
        & i {
            position: fixed;
            top: 0px;
            right: 5px;
            color: $white;
            float: right;
            margin: 2em;
        }
        & a {

            @media (max-width:640px) {
                    
                &:nth-child(2)li::before {
                    content: "00 ";
                    font-weight: bold;
                }
                &:nth-child(3)li::before {
                    content: "01 ";
                    font-weight: bold;
                }
                &:nth-child(4)li::before {
                    content: "02 ";
                    font-weight: bold;
                }
                &:nth-child(5)li::before {
                    content: "03 ";
                    font-weight: bold;
                }
            }

            @media (min-width:1024px) {
                
                &:nth-child(2)li::before {
                    content: "00 ";
                    font-weight: bold;
                }
                &:nth-child(3)li::before {
                    content: "01 ";
                    font-weight: bold;
                }
                &:nth-child(4)li::before {
                    content: "02 ";
                    font-weight: bold;
                }
                &:nth-child(5)li::before {
                    content: "03 ";
                    font-weight: bold;
                }
            }

            & li {
                color: $white;
                font-family: $barlow;
                text-transform: uppercase;
                font-weight: lighter;
                letter-spacing: 2px;
                margin: 1.5em;
    
                &:hover {
                    border-bottom: 3px solid $white;
                    cursor: pointer;
                }
    
                @media (min-width:640px) {
    
                    font-size: 13px;
                    margin: 0 1em;
                    padding: 3em 0;
        
            
                    &.active-menu {
                        border-bottom: 3px solid $white;
                    }
                }
    
                @media (min-width:1024px) {
                    border-bottom: 3px solid transparent;
                    padding: 3.5em 0;
                    margin: 0 1.9vw;
    
                }
            
            }
        }
       

    }        
}